
@{
    ViewBag.Title = "Dashboard";
}


@Html.Partial("_Modal")

<div id="wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title huge"><i class="fa fa-dashboard"></i>Dashboard</div>
        </div>
        <div class="panel-body">
                <ul class="nav nav-pills flex-column nav-justified">
                    <li class="nav-item"><a id ="UsersLink" class="nav-link" href="#Users" data-toggle="pill" role="tab"><i class="fa fa-users"></i>Users</a></li>
                    <li class="nav-item"><a id ="AccountsLink" class="nav-link" href="#Accounts" data-toggle="pill" role="tab"><i class="fa fa-bank"></i>Accounts</a></li>
                    <li class="nav-item"><a id = "DonationsLink" class="nav-link" href="#Donations" data-toggle="pill" role="tab"><i class="fa fa-sitemap"></i>Donations</a></li>
                    <li class="nav-item"><a id = "PaymentsLink" class="nav-link" href="#Payments" data-toggle="pill" role="tab"><i class="fa fa-money"></i>Payments</a></li>
                    <li class="nav-item"><a id ="AdminAccountsLink" class="nav-link" href="#AdminAccounts" data-toggle="pill" role="tab"><i class="fa fa-bank"></i>Admin Accounts</a></li>
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title text-info" id="PanelTitle">Users</div>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="Users" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dataTable-Users">
                                                    <thead>
                                                        <tr>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>User Name</th>
                                                            <th>Phone Number </th>
                                                            <th>Login TimeStamp </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="UsersBody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Accounts" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dataTable-BankAccounts">
                                                    <thead>
                                                        <tr>
                                                            <th>Account Name</th>
                                                            <th>Account Number</th>
                                                            <th>Bank Name</th>
                                                            <th># Incoming Payments</th>
                                                            <th>Last Payment Received</th>
                                                            <th># Outgoing Payments</th>
                                                            <th>Last Payment Sent</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="AccountsBody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Donations" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dataTable-Donations">
                                                    <thead>
                                                        <tr role="row">
                                                            <th>Donor</th>
                                                            <th>Recipeient</th>
                                                            <th>Match Date</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="DonationsBody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Payments" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dataTable-Payments">
                                                    <thead>
                                                        <tr>
                                                            <th>Donor</th>
                                                            <th>Recipient</th>
                                                            <th>Submission Date</th>
                                                            <th>Status</th>
                                                            <th><b><i class="fa fa-paperclip fa-2x"></i></b></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="PaymentsBody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="AdminAccounts" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="dataTable-AdminAccounts">
                                                    <thead>
                                                        <tr>
                                                            <th>Account Title</th>
                                                            <th>Account Number</th>
                                                            <th>Bank Name</th>
                                                            <th>Incoming Payments Count</th>
                                                            <th>Last Payment Date</th>
                                                            <th>Pending Payments</th>
                                                            <th>-</th>
                                                            <th>-</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="AdminAccountsBody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-left:2em"><button id ="AddButton" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add a new Account</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
   
@section scripts
{ 
    <script type="text/javascript" language="javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            loadUsers();
            loadBankAccounts();
            loadDonations();
            loadPayments();
            loadAdminAccounts();
         });
            function getActivePaneTableId() {
                var TableId = $("div.tab-pane.active.in").first().children("table").attr("id");
                return TableId;
            }
            function filterGlobal() {
                var TableId = getActivePaneTableId();
                $(TableId).DataTable().search(
                    $('#global_filter').val(),
                    $('#global_regex').prop('checked'),
                    $('#global_smart').prop('checked')
                ).draw();
            }
            function filterColumn(i) {
                var TableId = getActivePaneTableId();
            $(TableId).DataTable().column(i).search(
                $('#col' + i + '_filter').val(),
                $('#col' + i + '_regex').prop('checked'),
                $('#col' + i + '_smart').prop('checked')
            ).draw();
        }
        function loadUsers(){
            $('#UsersBody').load("/Account/Users",function () {
                modifyTable('#dataTable-Users');
            });
        }
        function loadBankAccounts(){
            $("#AccountsBody").load("/BankAccounts/BankAccounts",function () {
                modifyTable("#dataTable-BankAccounts");
            });
        }
        function loadDonations(){
            $("#DonationsBody").load("/Donations/Donations", function () {
                modifyTable("#dataTable-Donations");
            });
        }
        function loadPayments(){
            $("#PaymentsBody").load("/Payments/Payments", function() {
                modifyTable("#dataTable-Payments");
            });
        }
        function loadAdminAccounts() {
            $("#AdminAccountsBody").load("/BankAccounts/AdminAccounts", function () {
                modifyTable("#dataTable-AdminAccounts");
            });
        }
        function modifyTable(TableId)
        {
            $(TableId).DataTable();
        }
    </script>    
    }


   

