@using FundSharer.Models
@model LoginViewModel
@{
    ViewBag.Title = "Welcome";
}


@Html.Partial("_Modal")
<div class="panel-info panel-body jumbotron text-center">
    <div>
        <h1 class="animated lightSpeedIn" style="color:#0026ff">ExcElsiorr</h1>
        <p class="lead">Join and start making a difference today!</p>
    </div>
</div>
<div class="row">
        <div class="col-md-4">
            <div class="well bg-info text-center">
                <h2>About Us</h2>
                <p style="color:#0026ff">
                    Shared fund is a community where people assits one another on a platform that facilitates
                    financial aid among  participants nationwide. It adopts a member-to-member donation scheme where donors stand to earn
                    200% of their donation within 72 hours through our complex but effective matching system.
                </p>
            </div>
    </div>
        <div class="col-md-4">
            <div class="well bg-success text-center">
                <h2>How it Works</h2>
                <ul style="color:#0026ff">
                    <li><p>A member donate a sum of #50,000 to a designated beneficiary member assigned by the same.</p></li>
                    <li><p>The beneficiary member the confrims the donation.</p></li>
                    <li><p>The matching system assigns other members as donors to paying member- They each pay the member #50,000.</p></li>
                </ul>
                <p style="color:#ff006e">The Shared Fund system assigns donors to members and upon receiving payment, the system pushes them up, allowing unlimited registration.</p>
            </div>
    </div>
        <div class="col-md-4">
            <div class="well bg-danger text-center">
                <h2>Caveat</h2>
                <ol style="color:#0026ff">
                    <li><p>Kindly use spare cash for donations.</p></li>
                    <li><p>All donations are processed as bank transfers.</p></li>
                    <li><p>Members who are unable to meet a specified donation deadline will be removed from the community </p></li>
                </ol>
            </div>
    </div>
</div>
<div class="panel-danger">
    <div class="row jumbotron text-center text-info text-capitalize">
        <h3>What you get:</h3>
        <ul style="color:#0026ff">
            <li>2 to 1 Matrix auto recylce system</li>
            <li>Strict auto recycle</li>
            <li>100% returns</li>
        </ul>
    </div>
</div>
@section scripts{
@Scripts.Render("~/bundles/jqueryval")
    <script language="javascript" type="text/javascript" charset="utf-8">
        $(document).delegate("#loginLink", "click", function () {
            $("#myModalBody").load("/Account/Login", function () {
                $("#myModalLabel").html("Please Sign In.")
                $("#myModal").modal('toggle');
                }); 
        });
        $(document).delegate("#registerLink", "click", function () {
            $("#myModalBody").load("/Account/Register", function () {
                $("#myModalLabel").html("Create a new account.")
                $("#myModal").modal('toggle');
            }); 
        });
    </script>
    }