<ul class="nav navbar-nav navbar-right">
 @*   <li>@Html.ActionLink("Log in", "#", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    <li><a href="#" id="loginLink">Log in</a></li>
</ul>

