@using FundSharer.Models
@model IEnumerable<PaymentDetails>



    @foreach (PaymentDetails p in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => p.DonorName)</td>
            <td>@Html.DisplayFor(m => p.RecipientName)</td>
            <td>@Html.DisplayFor(m => p.Date)</td>
            <td>
                @{ if (p.Status == true)
                    {
                        <div class="alert alert-success">Confirmed</div>
                    }
                    else
                    {
                        <div class="alert alert-danger">Awaiting Confirmation</div>
                    }
                }
            </td>
            <td>
                @{ if (p.POPimage != null)
                    {
                        <div class="alert alert-success"><a href=""><i class="fa fa-image"></i></a></div>
                    }
                    else
                    {
                        <div class="alert alert-danger"><a href="" class="disabled"><i class="fa fa-image"></i></a></div>
                    }
                }
            </td>
        </tr>
    }



