@using FundSharer.Models
@model IEnumerable<DonationDetails>


    @foreach (DonationDetails d in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => d.DonorFullName)</td>
            <td>@Html.DisplayFor(m => d.RecipientFullName)</td>
            <td>@Html.DisplayFor(m => d.DonationSetupDate)</td>
            <td>@if(d.Status == true)
            {
                <button class="btn btn-xs btn-success" disabled>Accepted</button>
            }
            else
            {
                <button class="btn btn-xs btn-danger" disabled>Pending</button>
            }
        </tr>
    }


            

